[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
mysql-connector-python = "==8.0.33"
flask-httpauth = "==4.8.0"
gevent = "*"

[dev-packages]


[requires]
python_version = "3.11"
